@page
@model Team5_ConestogaVirtualGameStore.Areas.Identity.Data.CVGS_User 
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = Team5_ConestogaVirtualGameStore.Areas.Identity.Pages.Account.Manage.ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
@*<partial name="_StatusMessage" model="StatusMessage" />*@

<!-- Header-->
<header class="bg-dark py-5 bg-profile">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">

            <div class="w3-display-container" style="width: 220px; margin: 20px auto; ">
                <div style="width: 200px; height: 200px; border-radius: 100px; border: 10px solid; background-image: url('/img/person.jpeg'); background-size: cover; background-position:center;">
                </div>
                <div class="w3-display-bottomleft w3-container w3-text-black text-center" style="margin-top: 20px;">
                </div>
                <h2 style="color: black; background-color: beige; border: 1px solid black">Jane Doe</h2>
            </div>
        </div>
    </div>
</header>
<!-- Section-->
<section>
    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-container">
                    <!-- Real Profile Information -->
                    <form id="profile-form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <br>
                        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Member</p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Location</p>
                        <p>
                            <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>
                            @Model.Email
                        </p>
                        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>Phone Number</p>
                        <hr>

                        <p class="w3-large"><b><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Address</b></p>
                        <p>Billing</p>
                        <p></p>
                        <p>Mailing</p>
                        <p></p>
                        <p>Home</p>
                        <p></p>
                        <br>

                        <p class="w3-large w3-text-theme"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Preference Setting</b></p>
                        @*<p><label asp-for="@Model.FavoriteGenreID"></label></p>
                            <p><label asp-for="@Model.FavoritePlatformID"></label></p>
                            <p><label>Would you like to receive promotional emails?<input type="checkbox" value="@Model.PromotialEmails"/></label></p>*@

                        <br>
                        <p class="w3-large w3-text-theme"><b><i class="fa fa-users fa-fw w3-margin-right w3-text-teal"></i>Family / Friends</b></p>
                        <br>
                    </form>
                </div>
            </div><br>
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</section>