@model Team5_ConestogaVirtualGameStore.Models.Game

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Content -->
<div class="container">

    <h1 class="my-4">
        @Html.DisplayFor(model => model.Name)
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="https://via.placeholder.com/750x500" alt="">
        </div>

        <div class="col-md-4">

            <h3 class="my-3">Release Date</h3>
            <p>
                @Html.DisplayFor(model => model.ReleaseDate)
            </p>

            <h3 class="my-3">Description</h3>
            <p>
                @Html.DisplayFor(model => model.Description)
            </p>

            <h3 class="my-3">Price</h3>
            <p>
                <span>$</span>@Html.DisplayFor(model => model.Price)
            </p>

            <h3 class="my-3">Project Details</h3>
            <ul>
                <li>
                    <span>Platform: </span>
                    @Html.DisplayFor(model => model.Platform.Name)
                </li>
                <li>Dolor Sit Amet</li>
                <li>Consectetur</li>
                <li>Adipiscing Elit</li>
            </ul>
        </div>

    </div>
    <!-- Reviews -->
    <div class="row">

        <h4>Reviews</h4>
        <label for="message">Message</label>
        <textarea name="msg"
                  id="msg"
                  cols="30"
                  rows="5"
                  class="form-control"></textarea>
        @using (Html.BeginForm())
        {
            for(int i=1; i<6; i++)
                {
                    <input type="radio" id="Rating" name="Rating" value="@i"/> @i

                }
            <input type="submit" asp-action="SendReview" asp-controller="Game" value="Send Review" />
        }
    </div>

    <div class="row">
        <div class="comment mt-4 text-justify float-left">
            <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
            <b>Jhon Doe</b> <span>- 20 October, 2018</span> <br>
            <span><span>Status: Pending... </span> <a href="#">Accept</a> <a href="#">Decline</a></span>
            <p>
                Review
            </p>
        </div>
    </div>
</div>
<!-- container -->
<div>
    <a asp-action="Edit" asp-route-id="@Model.GameId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
