@model IEnumerable<Team5_ConestogaVirtualGameStore.Models.Game>

@{
    ViewData["Title"] = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>  Game Store</h1>

<div class="container">
    <br />
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name: <input type="text" name="SearchString" />
                <input type="submit" value="Search" class="btn btn-primary" /> |
                <a asp-action="Index">Back to full list</a>
            </p>
         </div>
    </form>

    @*@if (User.IsInRole("Admin"))
        {*@
    <div style="text-align: right;">
        <a class="btn btn-outline-dark text-light bg-primary mt-auto" asp-action="Create">Add Game</a>
    </div>
    @*}*@
</div>
<!-- Section-->
<section class="py-5">

    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            @foreach (var item in Model)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="~/img/@item.GameImg" alt="@item.GameImg" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@Html.DisplayFor(modelItem => item.Name)</h5>
                                <!-- Product price-->
                                @Html.DisplayFor(modelItem => item.Price)
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a asp-action="Details" class="btn btn-outline-dark mt-auto" asp-route-id="@item.GameId">Details</a>
                                <a asp-action="AddToCart" class="btn btn-outline-dark mt-auto" asp-route-id="@item.GameId">Add to Cart</a>
                                <a asp-action="AddToWishlist" class="btn btn-outline-dark mt-auto" asp-route-id="@item.GameId">Add to Wishlist</a>
                            </div>
                        </div>
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark bg-info mt-auto" asp-action="Edit" asp-route-id="@item.GameId">Edit</a>
                                    <a class="btn btn-outline-dark bg-info mt-auto" asp-action="Delete" asp-route-id="@item.GameId">Delete</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>