@model IEnumerable<Team5_ConestogaVirtualGameStore.Models.OrderItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Order History</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.DateOrdered)
            </td>
            <td>
                <a asp-action="Download" asp-route-id="@item.ItemId">Download</a> 
            </td>
        </tr>
}
    </tbody>
</table>
