@model IEnumerable<Team5_ConestogaVirtualGameStore.Models.Cart>

@{
    ViewData["Title"] = "Index";
}

<h1>Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxPercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subtotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxPercent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.CartId">Delete</a>
                </td>
            </tr>
        }
    <tr>
        <th>
            Total
        </th>
        <td></td>
        <th>
            $ 23.99
        </th>
        <td></td>
    </tr>
    </tbody>
</table>

<div style="text-align: right;">
    <a class="btn btn-outline-dark text-light bg-primary mt-auto" asp-action="Create">Proceed to checkout</a>
</div>